@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #2f2f2f;
}
::-webkit-scrollbar-thumb {
  background: #151515;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}
